In [110]:
import pandas as pd

In [111]:
df=pd.read_csv('../index.csv')

In [112]:
df.isnull().sum()

Year                              0
Month                             0
Day                               0
Federal Funds Target Rate       442
Federal Funds Upper Target      801
Federal Funds Lower Target      801
Effective Federal Funds Rate    152
Real GDP (Percent Change)       654
Unemployment Rate               152
Inflation Rate                  194
dtype: int64

In [113]:
df.head()
df['Month'] = df['Month'].astype(str)
df['Month'] = ['0'+ x if len(x)==1 else x for x in df['Month']]

In [114]:
df['year_month'] = (df['Year'].astype(str) + df['Month'].astype(str))

In [115]:
df.head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate,year_month
0,1954,07,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN,195407
1,1954,08,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN,195408
2,1954,09,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN,195409
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN,195410
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN,195411

In [116]:
fedfunds = df[['Effective Federal Funds Rate', 'year_month']]

In [117]:
fedfunds

     Effective Federal Funds Rate year_month
0                            0.80     195407
1                            1.22     195408
2                            1.06     195409
3                            0.85     195410
4                            0.83     195411
..                            ...        ...
899                           NaN     201612
900                          0.65     201701
901                          0.66     201702
902                           NaN     201703
903                           NaN     201703

[904 rows x 2 columns]

In [126]:
fedfunds = fedfunds.groupby('year_month').mean()

In [127]:
fedfunds.head()

            Effective Federal Funds Rate
year_month
195407                              0.80
195408                              1.22
195409                              1.06
195410                              0.85
195411                              0.83

In [128]:
fedfunds.to_csv("fedfunds")